*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100%;
}

body, .MuiTypography-body1 {
    @include font-jura(normal, 16px, 1.5);
    font-size: 16px !important;
    line-height: 1.5 !important;
    height: 100% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin-bottom: 10px;
    margin-top: 5px;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
div {
    display: block;
    position: relative;
}


blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ol,
ul {
    list-style: none;

}

input:focus {
    outline: none !important;
    border-color: initial !important;
    box-shadow: none !important;
}


